.DS_Store

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
*.pyc
**.pyc
reports
dist
poetry.lock
docs
.vscode/settings.json
temp_frames
*.zip
build

apiJet.egg-info